i{
  font-size: 1rem;
}
p, b{
  padding: 0;
  margin-bottom: 0.5rem;
}
.bg-primar{
  background-color: #1266F1;
}
.text-primar{
  color: #1266F1;
}

.myback{
  background: repeating-linear-gradient(#1266F1, #1266F1 49.9%, #f8f9fa 50.1%, #f8f9fa 100%);
}
.abc{
  height:450px;
}
@media (max-width: 1000px) {
  .abc{
    height:10px;
  }

}
